.App {
	text-align: center;
}
body{
	overflow-x: hidden;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.div_img {
	width: 100% !important;
	height: 200px !important;
	object-fit: cover;
}

.content{
	text-align: justify !important;
	font-family: 'Raleway', sans-serif;
}
.header {
	height: 30px !important;
	overflow: hidden;
}
marquee{
	background-color: black;
	color: white;
}
.flex-div {
	width: 400px !important;
	height: 450px !important;
	border: 1px dotted black;
	align-items: center;
	justify-content: center;margin: 10px;cursor: pointer;
}

#wrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
.card-footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.btn{
margin-top: 10px;
}
.card-body{
	overflow-y: auto;
	overflow-x:hidden;
	margin-bottom: 2px;

}
.logo{
	background: url(../src/images/logo.png) no-repeat center center/contain;
}
.name,.address{
	font-family: 'Bebas Neue', cursive;
}